.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1;
  padding-top: 100px;
}
.postcol {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar__group {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0.19;
}
@media (max-width: 800px) {
  .content {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    padding: 100px 0px 20px 0px;
  }
  .postcol {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
